1일차

In [4]:
a=3
print(a)
print(type(a))

3
<class 'int'>

In [5]:
b=2.1
c=3.0
a, b, c
type(a)
print(type(a), type(b))
print(type(c))

<class 'int'> <class 'float'>
<class 'float'>

2. 사칙연산

In [51]:
a=7
b=3

In [52]:
a+b

10

In [53]:
a-b

4

In [54]:
a*b

21

In [55]:
a/b

2.3333333333333335

In [56]:
a//b

2

In [57]:
a**b

343

In [59]:
a  b

1

3. 문자열

In [18]:
c="송도고등학교"
c

'송도고등학교'

In [20]:
d="인천정보산업고등학교"

In [22]:
d

'인천정보산업고등학교'

In [26]:
c, d, type(c), type(d)

('송도고등학교', '인천정보산업고등학교', str, str)

In [34]:
e = '''인천
송도
고등학교'''
print(e)

인천
송도
고등학교

In [1]:
f = '인천\송도\고등학교'
print(f)

인천\송도\고등학교

In [44]:
a='파이썬'
b='첫시간'
print(a+ ' ' + b)
c= '좋아 '

파이썬 첫시간

In [45]:
print(c*3 + " ")

좋아 좋아 좋아

4. 집합형

In [6]:
a= {1,2}
type(a)

set

In [8]:
b={2,3}

In [9]:
print(a & b)

{2}

In [10]:
print(a | b)

{1, 2, 3}

In [11]:
print(a - b)

{1}