<a href="https://colab.research.google.com/github/kimbetty/Python_2020_Basic/blob/master/1%EC%B0%A8%EC%8B%9C_1_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **3학년 응용프로그래밍**

# **[학습목표]**
---

1. Python 개발환경을 설정하고 설명할 수 있다.  
2. 출력문과 데이터 타입을 설명할 수 있다.

---

1. 출력

In [1]:
a = 1
b = 3.5
a
b

3.5

In [2]:
print(a, b)
print(3, 4)
print(a+b)
print('Hello Python ' *3)

1 3.5
3 4
4.5
Hello Python Hello Python Hello Python

2. 데이터 타입 알아보기

In [0]:
c=type(a)
d=type(b)

In [4]:
print(c, d)

<class 'int'> <class 'float'>

In [5]:
a ='인천정보산업고등학교 '
b = '전산과 '
print(a * 3)
print(b * 3)
print(a + b)
print(a, b)
print(type(a))

인천정보산업고등학교 인천정보산업고등학교 인천정보산업고등학교
전산과 전산과 전산과
인천정보산업고등학교 전산과
인천정보산업고등학교  전산과
<class 'str'>

[연습문제]4칙 연산 출력하기

---

```
# 다음과 같이 출력해보세요
a = 10 , b = 2
a + b = 12.5
a - b = ...
a * b = 
a ** b = 
a / b = 
a // b = 
a % b = 
```

In [2]:
a = 10
b = 2
print('a = ', a, ',', ' b =', b)
print('a + b = ', a+b)

a =  10 ,  b = 2
a + b =  12